*.a
DHELAS/*.o
Madlib/*.o
MODEL/*.o
decay/*.o
obj-gfortran/*
pwhg_main
testrun/*.dat
testrun/*.top
testrun/*.lhe
testrun/FlavRegList
testrun/bornequiv
testrun/pwhg_checklimits
testrun/realequiv
testrun/realequivregions
testrun/virtequiv
testrun/realequivregions-btl
testrun/realequivregions-rad
testrun/nlox_parameters.par
