process_name=p0_gg_hh
process_path=p0_gg_hh

model=smdiag_complex
model.options= masses: mH mT

zero=mU,mD,mS,mC,mB,wB,wT
one=gs,e

symmetries=family,generation

# one quark flavour [t] running in the loops:
qgraf.options=onshell,notadpole,nosnail
qgraf.verbatim=true=iprop[D,U,C,S,B,0,0];

#filter.nlo=filter_withb
#filter.module=filter.py

nlo_prefactors=0
polvec=explicit
reduction_programs=ninja, golem95
extensions=olp_badpts

#PSP_check=True
#PSP_verbosity=1
#PSP_chk_threshold1=4
#PSP_chk_threshold2=4
#PSP_chk_kfactor=-1
